---
import Layout from '../layouts/Layout.astro';
import PopUp from "../components/PopUp";
import Login from "../components/Login";

---

<Layout title="My Years">
    <div class="text-center">
        <h1 class="text-4xl">Welcome to MyYears</h1>
        <p>Here is where you reflect on what you have seen and done this year</p>

        <Login />
        <PopUp />
    </div>
</Layout>


